<body>
    <div id="banner">
        <h1>NYC Idling Repeat Offender Search</h1>
        <p class="lead">Use this tool to search for repeat idling offenders.</p>
    </div>
<form method="POST">
  <label for="state">State (Two-digit abbreviation)</label>
  <input type="text" id="state" name="state"><br>
  <label for="plate">Plate (no dashes or spaces)</label>
  <input type="text" id="plate" name="plate"><br>
  <label for="viol_date">Violation Date (MM/DD/YYYY) Format</label>
  <input type="text" id="viol_date" name="viol_date"><br>
  <input type="submit" value="Submit">
</body>
</html>